{% extends "/volunteer/base.html" %} {% block title %}Volunteer Home{% endblock
%} {% block content %}
<div class="container mt-5">
  <div class="row">
    <script type="text/javascript">
      window.MindStudioSettings = {
        publicToken: "pk160bac2c4e1d985513f8d1743dfeaf80",
        appId: "ff3de6c2-6d7e-4276-b81c-1e1f20ea6523",
      };
    </script>
    <script src="https://api.youai.ai/v1/embed.js"></script>
    <iframe
      id="mindstudio-frame"
      referrerpolicy="origin"
      style="
        width: 900px;
        height: 600px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        outline: none;
      "
      title="AI Embed"
      frameborder="0"
    ></iframe>
  </div>
</div>
<!--  -->
{% endblock %}
