{% extends "volunteer/base.html" %} {% block title %}Volunteer Opportunities{%
endblock %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Available Volunteer Opportunities</h2>
  <div class="row">
    {% for opportunity in opportunities %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">{{ opportunity['name'] }}</h5>
          <p class="card-text">{{ opportunity['description'] }}</p>
          <ul class="list-unstyled mb-0">
            <li>
              <small class="text-muted"
                >Country: {{ opportunity['country'] }}</small
              >
            </li>
            <li>
              <small class="text-muted"
                >Applicants: {{ opportunity['applicants'] }}</small
              >
            </li>
            <li>
              <small class="text-muted"
                >Employees: {{ opportunity['employees'] }}</small
              >
            </li>
            {% if opportunity['skillsCovered'] %}
            <li>
              <small class="text-muted"
                >Skills Covered: {{ opportunity['skillsCovered'] }}</small
              >
            </li>
            {% endif %}
          </ul>
          <form
            action="/volunteer/opportunities/apply/{{ opportunity.id }}"
            method="POST"
          >
            <button type="submit" class="btn btn-primary mt-3">Apply</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
