{% extends "organization/base.html" %} {% block head %}
<title>Organization - Applicants</title>
<link
rel="stylesheet"
href="{{ url_for('static', filename='styles/organization/applicants.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <h1 class="mt-5 text-3xl font-bold">Applicants for {{ opportunity_name }}</h1>
  <div class="row mt-6">
    <div class="col-md-8 mx-auto">
      <!-- List of Applicants -->
      {% for applicant in applicants %}
      <div class="card mb-4 p-4">
        <div class="card-body">
          <h2 class="card-title">{{ applicant.name }}</h2>
          <p class="card-text"><strong>Email:</strong> {{ applicant.email }}</p>
          <p class="card-text">
            <strong>Skills:</strong> {{ applicant.skills }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
