{% extends "/organization/base.html" %} {% block head %}
<title>Organization - Campaign Budget Optimization</title>
{% endblock %} {% block content %}
<div class="container mx-auto flex justify-center items-center h-screen">
  <div class="w-full max-w-xl">
    <div class="">
      <h2 class="text-2xl font-bold mb-6">Campaign Budget Optimization</h2>
      <script type="text/javascript">
        window.MindStudioSettings = {
          publicToken: "pkb4f90ee4558882dffcb0eeac6a2d0f4d",
          appId: "8935d0a6-92d1-4b38-af26-e37526e5f29d"
        };
      </script>
      <script src="https://api.youai.ai/v1/embed.js"></script>
      <iframe id="mindstudio-frame" referrerpolicy="origin" style="width:900px;height:600px;border:1px solid rgba(0,0,0,0.1);border-radius:8px;outline:none;" title="AI Embed" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
