{% extends "base.html" %} {% block head %}
<title>Organization - Applicants</title>
{% endblock %} {% block content %}
<div class="container">
  <h1 class="mt-5 text-2xl font-bold">Applicants for {{ opportunity_name }}</h1>
  <div class="row mt-4">
    <div class="col-md-12">
      <!-- List of Applicants -->
      {% for applicant in applicants %}
      <div class="card mb-3 p-4 shadow-lg">
        <div class="card-body">
          <h5 class="card-title">{{ applicant.name }}</h5>
          <p class="card-text">Email: {{ applicant.email }}</p>
          <p class="card-text">Skills: {{ applicant.skills }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
